{% extends 'base.html' %}

{% block title %}Product Detail
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <img src="{{product.image.url}}" width="100%">
        </div>
        <div class="col">
            <h1 class="display-6">{{product.name}}</h1>
            <p><span class="badge badge-secondary">Price</span>{{product.price}}</p>

            <form action="{% url 'cart:product_add' product.id %}" method="post">
                {{add_to_cart}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
            </form>

            <h5><span class="badge badge-secondary">Description</span>{{product.description|linebreaks}}</h5>
        </div>
    </div>
    <div class="review_list">
    <table>
        <tr>
	    {% for review in reviews %}
	    <td> review.email </td>
	    <td> review.comments </td>
	    {% endfor %}
        </tr>
        <tr>
            <form action="" method="post">
                <input type="text" name="myReview">
                <input type="submit" value="리뷰 등록하기">
            </form>
        </tr>
    </table>
</div>
{% endblock %}
